// BRAND CONSTANTS
$brand-purple: #7a2172;
$brand-lavender: #ce8dd6;
$brand-green: #baff51;
$bg-main: #484a52;
$bg-card: #f8eafb;
$text-main: #1f1c1c;
$text-alt: #fefcfd;

$border-main: rgba($text-main, 0.3);
$shadow-main: rgba(207, 207, 207, 0.565);

$f-main: "Figtree", sans-serif;
$f-head: "Red Hat Display", sans-serif;
$f-alt: "Google Sans", serif;
$f-title: "Outfit", sans-serif;

$wt-thin: 200;
$wt-reg: 400;
$wt-semi: 600;
$wt-bold: 700;

$sz-small: 0.8rem;
$sz-reg: 1rem;
$sz-large: 1.3rem;
$sz-title: 1.3rem;

$font-family-sans-serif: $f-main;

$font-size-sm: $sz-small;
$font-size-base: $sz-reg;
$font-size-lg: $sz-large;

$font-weight-light: $wt-thin;
$font-weight-bold: $wt-bold;

$headings-font-family: $f-head;
$head1-sz: 2.2rem;
$head2-sz: 2rem;
$head3-sz: 1.75rem;
$head4-sz: 1.5rem;
$head5-sz: 1.2rem;

$text-muted: $bg-main;

// GLOBAL BOOTSTRAP OVERRIDES
$primary: $brand-purple;
$secondary: $brand-lavender;
$emphasis-color: $brand-green;
$info: $brand-lavender;
$danger: #bb2c3a;
$warning: #ff9100;
$success: #20c20e;

$body-bg: $bg-main;
$body-color: $text-main;
$link-color: $brand-purple;

$enable-shadows: true;
$enable-gradients: true;

$card-bg: $bg-card;

$card-title-font-family: $f-title;
$card-title-font-size: $sz-title;
$card-title-font-weight: $wt-semi;
$card-title-color: $brand-purple;

$card-body-font-family: $f-main;
$card-body-font-weight: $wt-reg;
$card-body-font-size: $sz-large;

$card-text-font-family: $f-main;
$card-text-font-size: $sz-small;
$card-border-radius: 15px;
$card-color: $text-main;

$form-text-font-size: 14px;
$form-text-color: $bg-main;

$form-label-font-weight: $wt-bold;
$form-label-color: $text-main;

$input-font-family: $f-alt;
$input-font-size: 1rem;
$input-font-weight: 500;
$input-color: $text-main;

$input-border-radius: 8px;
$input-placeholder-color: $shadow-main;


$form-select-font-family: $f-main;
$form-select-font-size: 14px;
$form-select-color: $text-main;

// $nav-link-padding-x: 1.5rem;
// $nav-link-padding-y: .5rem;
// $nav-link-font-size: 18px;
// $nav-link-font-weight: $wt-semi;

// $nav-tabs-link-hover-color: $brand-purple;
// $nav-tabs-link-hover-bg: $brand-lavender;
// $nav-tabs-link-hover-border-color: $brand-purple;
// $nav-tabs-link-active-color: $emphasis-color;
// $nav-tabs-link-active-bg: $brand-purple;
// $nav-tabs-link-active-border-color: $brand-lavender;

$navbar-brand-font-size: $head3-sz;

// BADGE OVERRIDES
$badge-font-weight: $wt-bold;
$badge-font-size: $sz-small;
$badge-border-color: $bg-main;
$badge-color: $bg-main;

// HEADING OVERRIDES
$h1-font-size: $head1-sz;
$h2-font-size: $head2-sz;
$h3-font-size: $head3-sz;
$h4-font-size: $head4-sz;
$h5-font-size: $head5-sz;


$headings-font-weight: 700;
$headings-color: $brand-purple;

// ACTUAL CSS RULES (Selectors)
body {
    font-family: $f-main;
    -webkit-font-smoothing: antialiased;
    background-color: $body-bg;
    color: $body-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $f-head;
    color: $headings-color;
}

::placeholder {
    font-family: $f-alt;
    font-size: $sz-reg;
    opacity: 0.8;
}

::-webkit-input-placeholder { font-size: $sz-reg; }
::-moz-placeholder { font-size: $sz-reg; }
:-ms-input-placeholder { font-size: $sz-reg; }
