@import "variables";
@import "mixins";
@import "~bootstrap/scss/bootstrap.scss";

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.custom-profile-list {
    background-color: $bg-card !important;
    border: 1px solid rgba(0, 0, 0, 0.1);

    .list-group-item {
        background-color: $bg-card !important;
        color: $text-main;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);

        &:last-child {
            border-bottom: none;
        }
    }
}

.form-control {
    transition: all 0.2s ease-in-out;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid $shadow-main;
    color: $brand-purple;
    border-radius: 8px;

    &:hover {
        background-color: $text-alt;
        border: 2px solid $brand-purple;
        cursor: pointer;
    }

    &:focus {
        background-color: $text-alt;
        color: $text-main;
        font-weight: $font-weight-bold;
        border: 2px solid $brand-purple;
        outline: none;
        box-shadow: 0 0 0 0.35rem rgba($brand-lavender, 0.3);
    }

    &::placeholder {
        font-family: $f-main;
        font-style: italic;
        color: rgba($text-main, 0.5);
        opacity: 1;
    }
}

.input-group {
    .eye-toggle.btn-outline-secondary {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-top-right-radius: 8px !important;
        border-bottom-right-radius: 8px !important;
        border-width: 2px; 
        background-color: rgba(255, 255, 255, 0.9);
        border: 2px solid $shadow-main;

        &:hover {
            background-color: $brand-lavender;
            border: 2px solid $brand-purple;
            color: $text-alt;
        }
    }

    .form-control {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

    .btn-outline-info {
        background-color: $bg-card;
        border: 2px solid $border-main;
        color: $brand-purple;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: $brand-lavender;
            border: 2px solid $brand-purple;
            color: $text-alt;
        }

        &:focus {
            background-color: $brand-purple;
            color: $brand-green;
            border: none;
            outline: none;
            box-shadow: 0 0 0 0.35rem $brand-purple;
        }

        i {
            font-size: 1.2rem;
        }
    }

    &:focus-within {
        .form-control {
            border-color: $brand-lavender;
            box-shadow: 0 0 0 0.35rem rgba($brand-lavender, 0.4);
        }
        .btn-eye-toggle,
        .btn-outline-info {
            border-color: $brand-lavender;
        }
    }
}

.search-container {
    width: 100%;
    min-width: 0;
    margin: 1rem 0;

    .form-control {
        border-radius: 50px !important;
        padding-left: 1.5rem;
        background-color: $text-alt;
        color: $text-main;
        border: 2px solid rgba($brand-lavender, 0.8);
        transition: all 0.3s ease;

        &:hover {
            border: 2px solid $brand-green;
        }

        &:focus {
            box-shadow: 0 0 0 0.35rem rgba($brand-green, 0.65);
            border-top-right-radius: 50px !important;
            border-bottom-right-radius: 50px !important;
        }
    }
    .btn {
        border-radius: 50px !important;
        margin-left: -50px;
        z-index: 5;
        padding-right: 1.2rem;
        padding-left: 1.2rem;
    }

    @media (min-width: 992px) {
        width: auto;
        min-width: 360px;
        margin: 0;
    }
}

.btn-primary {
    color: $text-alt;
    background-color: $brand-purple !important;
    border: 1px solid $brand-purple;
    border-radius: 50px;
    margin: 8px 0;
    padding: 6px auto;
    font-weight: $wt-semi;
    width: auto;
    cursor: pointer;
    @include hover-lift(-2px, $brand-lavender);

    &:hover,
    &:focus {
        background-color: $brand-lavender !important;
        border-color: $brand-purple !important;
        font-weight: $wt-bold;
        box-shadow: 0 0 15px rgba($brand-purple, 0.6);
        transform: translateY(-1px);
    }
}

.btn-outline-primary {
    border: 1px solid rgba($brand-purple, 0.6);
    color: $brand-purple;
    border-radius: 50px;
    padding: 6px 30px;
    width: auto;
    font-weight: $wt-semi;
    transition: all 0.3s ease-in-out;
    @include hover-lift(-2px, $brand-lavender);

    &:hover {
        background-color: $brand-lavender !important;
        border-color: $brand-purple !important;
        color: $text-alt;
        font-weight: $wt-bold;
        box-shadow: 0 0 15px rgba($brand-lavender, 0.6);
    }
}

.btn-outline-secondary {
    background-color: transparent;
    border: 1px solid $brand-lavender;
    border-radius: 50px;
    color: $brand-purple;
    font-weight: $wt-semi;
    transition: all 0.2s ease-in-out;
    @include hover-lift(-2px, $brand-lavender);

    &:hover {
        background-color: $brand-lavender;
        border: 1px solid $brand-purple;
        color: $text-alt;
        font-weight: $wt-bold;
        box-shadow: 0 0 15px rgba($brand-purple, 0.6);
    }
}

.btn-outline-danger {
    width: 9rem;
    min-width: 100px;
    border-radius: 50px;
    padding: 4px 20px;
    width: auto;
    margin: 10px 0;
    box-shadow: none;
    transition: all 0.3s ease-in-out;

    &:hover {
        border: 1px solid $text-alt !important;
        box-shadow: 0 0 15px rgba($danger, 0.65);
    }
}

.glow-on-hover {
    &:hover {
        box-shadow: 0 6px 15px rgba($brand-lavender, 0.7);
    }
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
    margin: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba($brand-purple, 0.6);
    border-radius: 100px;
    border: 2px solid #fff;
    background-clip: content-box;
    &:hover {
        background: rgba($brand-purple, 0.6);
    }
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba($brand-purple, 0.6) transparent;
}

.custom-tabs {
    border-bottom: 2px solid rgba($brand-purple, 0.1);
    gap: 10px;

    .nav-item {
        .nav-link {
            border: none;
            color: $text-muted;
            font-weight: $wt-semi;
            width: fit-content;
            border-radius: 12px 12px 0 0;
            transition: all 0.3s ease;

            &:hover {
                background-color: rgba($brand-lavender, 0.4);
                color: $brand-purple;
            }

            &.active {
                background-color: $brand-purple !important;
                color: $emphasis-color !important;
                box-shadow: 0 4px 15px rgba($brand-purple, 0.2);
            }
        }
    }
}

.navbar {
    .nav-link {
        text-transform: capitalize;
        letter-spacing: 0.5px;
        transition: color 0.2s ease;
        color: #ffffff;
        padding-left: 1rem;
        padding-right: 1rem;
        width: fit-content;
        margin-left: auto;
        margin-right: 0;
        text-align: right;

        &:hover {
            color: $brand-lavender !important;
        }

        &.active {
            font-weight: $wt-bold;
            color: $brand-green !important;
            border-bottom: 2px solid $brand-green;
        }

        @media (min-width: 992px) {
            margin-left: 0;
            margin-right: auto;
        }
    }

    .navbar-brand {
        color: $brand-green !important;
        font-weight: $wt-semi;
        letter-spacing: 1.1px;
        text-transform: lowercase;
    }
}

.w-ch-username {
    max-width: 25ch;
}
.w-ch-password {
    max-width: 35ch;
}
.w-ch-email {
    max-width: 45ch;
}
.w-ch-name {
    max-width: 30ch;
}
.w-ch-date {
    max-width: 20ch;
}

@media (max-width: 767px) {
    .w-ch-username,
    .w-ch-password,
    .w-ch-email,
    .w-ch-name,
    .w-ch-date {
        max-width: 100% !important;
    }
}

@media (max-width: 991px) {
    .navbar-collapse {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-right: 0.5rem; 
    }
}

@import "../components/movie-view/movie-view.scss";
@import "../components/movie-card/movie-card.scss";
@import "../components/profile-view/profile-view.scss";
@import "../components/nav-bar/nav-bar.scss";
