.movie-view-card {
    position: relative;
    display: flex; 
    flex-direction: column;
    max-height: 75vh; // Keeps the whole view from being too tall
    border-radius: 15px;
    overflow: hidden;
    background-color: $card-bg;

    .img-fluid {
        height: 100%;
        max-height: 75vh;
        object-fit: cover;
        border-radius: 15px 0 0 15px;
    }

    .card-body {
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 2rem !important;
        padding-bottom: 90px !important;
        overflow-y: auto;
        font-family: $f-main;
        font-size: $sz-reg;
    }

    .card-title {
        font-family: $f-head;
        font-size: $head2-sz;
        font-weight: $wt-bold;
        display: -webkit-box;
        -webkit-line-clamp: 1; 
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 60px;
    }

    .movie-summary {
        font-family: $f-main;
        font-size: $sz-large;
        font-weight: $wt-reg;
        margin-bottom: 1rem;
    }
    
    .btn-corner {
        position: absolute !important;
        bottom: 25px;
        right: 25px;
        z-index: 20;
        padding: 6px 50px !important;
        text-decoration: none;
        margin: 0 !important;
    }

    .glass-heart-button {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 30;
        flex-shrink: 0 !important;
        width: 50px !important;
        height: 50px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        text-decoration: none !important;
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        background: rgba(255, 255, 255, 0.35) !important;
        backdrop-filter: blur(12px) saturate(200%);
        border: 1px solid rgba(190, 190, 190, 0.539) !important;
        border-radius: 50%;

        &:hover {
            background: rgba($primary, 0.1) !important;
            border: 1px solid rgba($primary, 0.4) !important;
            transform: scale(1.1) translateY(-2px);
            box-shadow: 0 8px 25px rgba($brand-purple, 0.1);
        }

        i {
            color: $primary;
            font-size: $font-size-lg;
            filter: drop-shadow(0 0 5px rgba($brand-purple, 0.2));
        }
    }
}