.movie-view-card {
    position: relative;
    min-height: auto;
    border-radius: 15px;
    overflow: hidden;

    .card-body {
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        padding-bottom: 80px !important;
        font-family: $f-main;
        font-size: $sz-reg;
    }

    .card-title {
        font-family: $f-head;
        font-size: $head2-sz;
        font-weight: $wt-bold;
        display: -webkit-box;
        -webkit-line-clamp: 1; // Truncate to 1 line
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 60px;
    }

    .movie-summary {
        font-family: $f-main;
        font-size: $sz-large;
        font-weight: $wt-reg;
    }
    
    .img-fluid {
        height: 100%;
        min-height: 500px;
        object-fit: cover;
        border-radius: 15px 0 0 15px;
    }

    .btn-corner {
        position: absolute !important;
        bottom: 25px;
        right: 25px;
        z-index: 20;
        width: auto !important;
        text-decoration: none;
        padding: 10px 25px !important;
        margin: 0 !important;
    }

    .glass-heart-button {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 30;
        flex-shrink: 0 !important;
        width: 40px !important;
        height: 40px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        text-decoration: none !important;
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        background: rgba(255, 255, 255, 0.35) !important;
        backdrop-filter: blur(12px) saturate(200%);
        border: 1px solid rgba(190, 190, 190, 0.539) !important;

        &:hover {
            background: rgba($brand-purple, 0.1) !important;
            border: 1px solid $brand-purple !important;
            transform: scale(1.1) translateY(-2px);
            box-shadow: 0 8px 25px rgba($brand-purple, 0.1);

            i {
                color: $brand-purple !important;
                filter: drop-shadow(0 0 5px rgba($brand-purple, 0.2));
            }
        }

        i {
            font-size: 1.2rem;
            line-height: 1;
            padding: 1px;
            align-items: center;
            justify-content: center;
            transition: color 0.3s ease;
        }
    }
}