.back-button {
  padding: 12px 16px 12px 16px;
  color: rgb(245, 245, 245);
  background-color: rgb(131, 17, 137);
  border: rgb(131, 17, 137);
  border-radius: 4px;
}

.custom-card-border {
  border: 2px solid rgb(77, 72, 72) !important; 
  border-radius: 8px; 
  transition: transform 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.433);
  }
}

.movie-view-card {
  padding: 10px;
  background-color: #ffffff;
  img {
    max-height: 500px;
    object-fit: cover;
    border-radius: 8px;
  }
}