.movie-view-card {
    border-radius: 15px;
    padding: 2rem;

    img {
        max-height: 500px;
        object-fit: cover;
        border-radius: 8px;
    }

    .glass-heart-button {
        flex-shrink: 0 !important;
        width: 60px !important;
        height: 60px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        text-decoration: none !important;
        z-index: 10;
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        background: rgba(255, 255, 255, 0.3) !important;
        backdrop-filter: blur(12px) saturate(200%);
        -webkit-backdrop-filter: blur(12px) saturate(180%);
        border: 1px solid rgba(190, 190, 190, 0.539) !important;
        box-shadow:
            0 0 0 8px rgba(0, 0, 0, 0.2),
            inset 0 0 0 1px rgba(255, 255, 255, 0.2);

        &.rounded-circle {
            border-radius: 50% !important;
        }

        &:hover {
            background: rgba($brand-purple, 0.1) !important;
            border: 1px solid $brand-purple !important;
            transform: scale(1.2) translateY(-3px);
            box-shadow: 0 8px 25px rgba($brand-purple, 0.1);

            i {
                color: $brand-purple !important;
                filter: drop-shadow(0 0 5px rgba($brand-purple, 0.2));
            }
        }

        &:active {
            transform: scale(0.9) translateY(0);
            background: rgba($brand-purple, 0.2) !important;
        }

        i {
            font-size: 2rem;
            line-height: 1;
            padding: 1px;
            align-items: center;
            justify-content: center;
            transition: color 0.3s ease;
        }
    }
}

.movie-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
