.navbar {
    display: flex;
    align-items: center;
    border-radius: 0 0 12px 12px;
    padding: 0.8rem 0;
    box-shadow: 0 2px 10px $shadow-main;
    @include glass-effect(0.9, 10px, 0.1);
    background-color: rgba($brand-purple, 0.9) !important;

    .navbar-brand {
        color: $brand-green !important;
        font-weight: 700;
        letter-spacing: 1.5px;
        text-transform: lowercase;
    }

    .nav-link {
        color: $text-alt;
        transition: all 0.3s ease;
        font-weight: $font-weight-bolder;
        font-size: 1rem;
        text-transform: capitalize;

        &:hover {
            color: $brand-lavender !important;
            transform: translateY(-1px);
        }

        &:active {
            color: $brand-green !important;
        }
    }

    .search-input {
        background-color: $text-alt;
        color: $text-main;
        border: 2px solid transparent;
        border-radius: 20px;
        transition: all 0.3s ease;
        min-width: 250px;

        &::placeholder {
            color: $border-main;
        }

        &:focus {
            background-color: #fff;
            color: $text-main;
            border-color: $brand-green;
            box-shadow: 0 0 0 0.25rem rgba($brand-green, 0.4);
            outline: none;
        }
    }
}