.navbar {
    display: flex;
    align-items: center;
    border-radius: 0 0 8px 8px;
    padding: 0.8rem 0;
    box-shadow: 0 2px 10px $shadow-main;
    @include glass-effect(0.9, 10px, 0.1);
    background-color: rgba($brand-purple, 0.9) !important;
}
